@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Public+Sans:wght@300;400&family=Roboto&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --spacing: 4;
  --gray: #f2f2f2;
  --black: black;
  --white: #ffffff;
}

body {
  background-color: var(--gray);
  padding: 2rem;
}

h1,
h2 {
  font-family: "Montserrat";
}

p,
span,
button {
  font-family: "Open Sans";
}

h1 {
  font-size: 1.75rem;
  font-weight: 800;
  &::after {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    width: 1rem;
    content: "";
    height: 2px;
    background-color: black;
    display: block;
  }
}

h2 {
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  column-gap: 1rem;

  & > span {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

section {
  margin-bottom: 6rem;
}

.skill-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.avatar {
  height: 2rem;
  width: 2rem;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  flex-direction: column;
  row-gap: 0.5rem;
}

.card {
  border: 1px solid var(--black);
}

.project {
  padding: calc(var(--spacing) * 6px);
  position: relative;

  p {
    margin-bottom: 20px;
    font-size: 0.75rem;
  }

  &-card-nav-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translatey(-50%);
  }
}

button {
  background-color: var(--black);
  color: var(--white);
  font-weight: 500;
  border: none;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.social-links {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

/* body.light-mode {
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

body.dark-mode a:visited {
  color: #4fbcff;
  background-color: transparent;
  text-decoration: none;
} */
