@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&family=Montserrat:wght@400;600;700;800&family=Open+Sans&family=Public+Sans:wght@300;400&family=Roboto&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

$white: #ffffff;
$black: #1f1f20;
$dark-main: #36e6b7;

body {
  background-color: $white;
  padding: 2rem;
}

.dark-mode-button {
  width: 2.5rem;
  height: 2.5rem;
}

body.dark-mode {
  background-color: $black;
  color: $dark-main;
  button,
  h1::after {
    color: $black;
    background-color: $dark-main;
  }
  h1,
  .card,
  button,
  .navbar,
  .footer {
    border-color: $dark-main;
  }
}

h1,
h2 {
  font-family: "Montserrat";
}

p,
span,
button {
  font-family: "Open Sans";
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  &::after {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    width: 2rem;
    content: "";
    height: 0.25rem;
    background-color: $black;
    display: block;
  }
}

h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  column-gap: 1rem;
  border-bottom: 1px solid $black;

  span {
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-left: 1.5rem;
  }
  .icon,
  .dark-mode-button {
    height: 2.5rem;
    width: 2.5rem;
  }
}

section {
  margin-bottom: 6rem;
}

.skill-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.avatar {
  height: 2rem;
  width: 2rem;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  flex-direction: column;
  row-gap: 0.5rem;
}

.card {
  border: 1px solid $black;
}

.project {
  padding: 1.3rem;
  position: relative;

  p {
    margin-bottom: 20px;
    font-size: 0.75rem;
  }

  &-card-nav-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translatey(-50%);
  }
}

button {
  background-color: $black;
  color: $white;
  font-weight: 500;
  border: none;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.social-links {
  display: flex;
  gap: 0.5rem;
}

.footer {
  padding-top: 1rem;
  border-top: 1px solid $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.75rem;

  p:first-child {
    margin-bottom: 0.25rem;
  }
}

.flex {
  display: flex;
  &-aic {
    align-items: center;
  }
}

// body.light-mode {
//   // color: #333;
//   // transition: background-color 0.3s ease;
// }

// body.dark-mode a:visited {
//   color: #4fbcff;
//   background-color: transparent;
//   text-decoration: none;
// }
